<h2>Profile Edit</h2>
<img class="imagenperfil" src={{imagePath}} alt={{username}}>

<form action="/profile/editar/{{_id}}" method="POST" enctype="multipart/form-data">
    <input type="file" name="imageFile"><br><br>

    <label for="">Username:</label>
    <input type="text" name="username" value={{username}}><br>
    <label for="">Email:</label>
    <input type="text" name="email" value={{email}}><br>
    {{!-- <label for="">Favorites:</label>
    <input type="text" name="favorites" value={{favorites}}><br> --}}

    <button type="submit">Edit profile</button>



</form>