<h1><u>Movie Details:</u></h1>

<h2 style="font-weight-bold">{{movies.title}}</h2>

<h3>Director:</h3>
<div class="font-weight-bold">{{movies.director}}</div>
<h3>Duration:</h3>
<div class="d-flex p-2 font-weight-bold">{{movies.duration}}<p>mins</p></div>
<h3>Cast:</h3>
<div class="font-weight-bold">{{movies.cast}}</div>
<h3>Description:</h3>
<div class="font-weight-bold">{{movies.synopsis}}</div>
<h3>Rating: {{movies.rating}}</h3>

<br>

<div>
    {{#each spotify}}

    <a href="{{album.external_urls.spotify}}"><img class="spotify-img" src="{{album.images.1.url}}" alt="{{name}}"></a>

    <figure>
        <audio controls src="{{preview_url}}"></audio>
    </figure>
{{/each}}
</div>

<a href="/movies/list" class="btn btn-sm btn-success">Go back</a>