{{!-- <div class="row justify-content-center">
<div class="col-md-6"> --}}
<h1>Search for a movie!</h1>


<div>
    <form action="/movies/list" method="POST">
        <div class="form-group">
            <input id="searchbar" type="text" name="searchInput" placeholder="Search movies..."> 
        </div>
        <button type="submit" id="search" class="btn btn-sm btn-success">Search</button>
    </form>
</div>
{{!-- </div>
</div> --}}


<br>

<h2>Movies:</h2>

<div class="d-flex flex-column">
{{#each movies}}
<div class="d-flex flex-column">{{poster}}</div>
<div class="d-flex flex-column font-weight-bold">{{title}}</div>
<div class="d-flex flex-column">{{director}}</div>
<div class="d-flex flex-column">{{cast}}</div>
<a href="/movies/details/{{_id}}" class="btn btn-sm btn-success ">See details</a>
{{/each}}
</div>

